body {
    margin-left: 20px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
#main{
    visibility: hidden;
}
/*Marco*/
#marco{
    display: grid;
    width: 400px;
    height: 400px;
    border: 1px solid black;
    margin-bottom: 25px;
}
